{% extends "base_generic.html" %}

<!--Override "title" block in base_generic.html-->
{% block title %}
<title>Blacktrack App - Container Items</title>
{% endblock %}

{% block descriptor %}
<h1 class="bottom-only-solid-border">Blacktrack - Container Items</h1>
{% endblock %}

{% block content %}

<br>
<a href="{% url 'list-containers' %}" class="btn btn-primary">See my containers</a>
<br>

<div class="form-check form-switch toggle-push-away-from-buttons">
  <input class="form-check-input" type="checkbox" name="container-item-details-toggle" id="container-item-details-toggle" onclick="ToggleHideByIdVisbility()">
  <label class="form-check-label" for="container-item-details-toggle">Show more item details</label>
</div>

<br>
<div class="row">
  <div class="col-sm-9 detail-major-background">
  <h3><a href="{{ ContainerObjectInstance.get_absolute_url }}">{{ ContainerObjectInstance.container_object_instance_nickname }}</a></h3>
  
  {% if perms.core.can_create_item_object_instance %}
    <div class="row">
      <div class="col-8 col-sm-6 detail-minor-background">
        Quick add item:
      </div>
      <div class="col-4 col-sm-6 detail-minor-background">
        <form action="" method="post">
          {% csrf_token %}
          {{ itemObjectInstanceQuickAddForm.item_object_instance_nickname }}
          {{ itemObjectInstanceQuickAddForm.package_count }}
          <input type="submit" value="Add">
        </form>
      </div>
    </div>
  {% endif %}
  
  <div class="row">
    <div class="col-8 col-sm-6">
      <p> </p>
    </div>
  </div>
  
  {% if ListOfContainerItemsAndExpirationNegitiveReversals %}
  
    {% for item in ListOfContainerItemsAndExpirationNegitiveReversals %}
    
     <div class="row">
        <div class="col-8 col-sm-6 detail-minor-background">
          Item:
        </div>
        <div class="col-4 col-sm-6 detail-minor-background">
          <a href="{{ item.0.get_absolute_url }}">{{ item.0.item_object_instance_nickname }}</a>
        </div>
      </div>
      
  
      {% if item.0.item.item_type %}
          <div class="row" style="display: none;" id="default_no_display_form">
            <div class="col-8 col-sm-6 detail-minor-background">
              Item type:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ item.0.item.item_type }}
            </div>
          </div>
     {% endif %}
     
      {% if item.0.item.manufacturer %}
          <div class="row" style="display: none;" id="default_no_display_form">
            <div class="col-8 col-sm-6 detail-minor-background">
              Manufacturer:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ item.0.item.manufacturer }}
            </div>
          </div>
     {% endif %}
     
      {% if item.0.source.name %}
          <div class="row" style="display: none;" id="default_no_display_form">
            <div class="col-8 col-sm-6 detail-minor-background">
              Bought from:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ item.0.source.name }} {% if item.0.item_acquisition_date %} ( {{ item.0.item_acquisition_date }} ){% endif %}
            </div>
          </div>
     {% endif %}
     
      <div class="row">
        <div class="col-8 col-sm-6 detail-minor-background">
          Number of packages:
        </div>
        <div class="col-4 col-sm-6 detail-minor-background">
          {{ item.0.package_count }}
        </div>
      </div>
      
      <div class="row">
        <div class="col-8 col-sm-6 detail-minor-background">
          Number in package:
        </div>
        <div class="col-4 col-sm-6 detail-minor-background">
          <p>{{ item.0.number_in_package_count }} ( {% widthratio item.0.package_count 1 item.0.number_in_package_count %} total )</p>
        </div>
      </div>
      
      {% if item.0.item_deep_storage %}
      <div class="row">
        <div class="col-8 col-sm-6 detail-minor-background">
          Item is in deep storage
        </div>
        <div class="col-4 col-sm-6 detail-minor-background">
          <p>Deep storage in {{ ContainerObjectInstance.container_object_instance_nickname }}</p>
        </div>
      </div>
      {% endif %}
       
         <div class="row" style="display: none;" id="default_no_display_form">
            <div class="col-8 col-sm-6 detail-minor-background">
              {% if item.0.item_expiration_date %}
                {% if item.0.days_until_item_expiration > 30 %}
                  <strong><p class="text-success">Good for {{ item.0.days_until_item_expiration }} days</p></strong>
                
                {% elif item.0.days_until_item_expiration <= 30 and item.0.days_until_item_expiration >= 0 %}
                  <strong><p class="text-warning">Expires in {{ item.0.days_until_item_expiration }} days</p></strong>
                  
                {% else %}
                  <strong><p class="text-danger">Expired {{ item.1 }} days ago!</p></strong>
                {% endif %}   
                
              {% else %}
                No expiration date registered for this item
              {% endif %}
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
             {% if item.0.item_expiration_date %}
              
                Expiration date:  {{ item.0.item_expiration_date }}
                
              {% else %}
              
              No expiration date
          
              {% endif %}
            </div>
          </div>
          
          {% if forloop.last %}
          {% else %}
              <div class="row">
                <div class="col-8 col-sm-6">
                  <p> </p>
                </div>
              </div>
          {% endif %}
     
     {% endfor %}
  {% else %}
    <a href="" class="btn btn-primary btn-float-above-bottom-border">Add an item to this container</a>
    
  {% endif %}
  </div>
</div>
<br>

{% endblock %}
