{% extends "base_generic.html" %}

<!--Override "title" block in base_generic.html-->
{% block title %}
<title>Blacktrack App - Site Details</title>
{% endblock %}

{% block descriptor %}
<h1 class="bottom-only-solid-border">Blacktrack - Site Details</h1>
{% endblock %}

{% block content %}

<br>
<a href="{% url 'list-sites' %}" class="btn btn-primary">See my sites</a>
{% if perms.core.can_update_site %}- <a href="{% url 'site-update' site_type.id %}" class="btn btn-primary">Update this site</a>  {% endif %}
{% if perms.core.can_delete_site %}- <a href="{% url 'site-delete' site_type.id %}" class="btn btn-primary">Delete this site</a>  {% endif %}
<br>

<br>
<div class="row">
  <div class="col-sm-9 detail-major-background">
  <h3>{{ site_type.name }}</h3>

   <br>
   <div class="row">
      <div class="col-8 col-sm-6 detail-minor-background">
        Location information:
      </div>
    </div>
    <br>
   
   {% if site_type.site_address.contains_location_data == True %}  
   
     {% if site_type.site_address.name %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              Address name:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
               <a href ="{% url 'address-detail' site_type.site_address.id %}">{{ site_type.site_address.name }}</a>
            </div>
          </div>
     {% endif %}
   
      {% if site_type.site_address.location_city %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              City:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.site_address.location_city }}
            </div>
          </div>
     {% endif %}
     
      {% if site_type.site_address.location_locality %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              Locality (State / Province):
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.site_address.location_locality }}
            </div>
          </div>
     {% endif %}
     
      {% if site_type.site_address.location_country %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              Country:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.site_address.location_country }}
            </div>
          </div>
     {% endif %}
     
      {% if site_type.site_address.location_address_line_1 %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              Address (line 1):
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.site_address.location_address_line_1 }}
            </div>
          </div>
     {% endif %}
     
      {% if site_type.site_address.location_address_line_2 %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              Address (line 2):
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.location_address_line_2 }}
            </div>
          </div>
     {% endif %}
     
      {% if site_type.site_address.location_zipcode %}
         <div class="row">
            <div class="col-8 col-sm-6 detail-minor-background">
              ZIP Code:
            </div>
            <div class="col-4 col-sm-6 detail-minor-background">
              {{ site_type.site_address.location_zipcode }}
            </div>
          </div>
     {% endif %}

    {% else %}
        <a href="{% url 'site-update' site_type.id %}" class="btn btn-primary btn-float-above-bottom-border">Add location information to this site</a>
    {% endif %}

  </div>
</div>

{% endblock %}
